
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>

<table class="table table-hover ">

    <thead>
    <tr class="table-dark">

        <th scope="col"></th>

        <td scope="col">Nom</td>

        <td scope="col">Prenom</td>

        <td scope="col">Biographie</td>

        <td scope="col">Livres</td>

        <td scope="col">Invite</td>



    </tr>
    </thead>



    {% for author in authors %}
        <tbody>
        <tr>
            <th scope="row"></th>

            <td>{{ author.nom }}</td>

            <td>{{ author.prenom }}</td>

            <td>{{ author.biographie }}</td>

            <td>{% for livre in author.livres %}
            <li>{{ livre.title }}</li>
            {% endfor %}

            </td>

            <td>{% if author.invite.id is defined %}
                {{ author.invite.id }}</td>
                {% endif %}

        </tr>
        </tbody>

    {%  endfor %}





</table>